.header {
    background-image: url(../images/tree.jpg);
    max-width: 100%;
    width: 100%;
    height: 324px;
    background-repeat: no-repeat;
    background-size: cover;
}
.nav-li {
    color: white;
    display: flex;
    width: 600px;
    justify-content: space-between;
    flex-direction: row;
    margin: auto;
}
.title {
    color: white;
}
.satauri {
    color: white;
    font-size: 50px;
}
.satauri2 {
    color: white;
    font-size: small;
}
.ruka {
    max-width: 1088px;
    width: 100%;
    height: 290px;
    margin: 0 auto;
    justify-content: space-between;
    display: flex;
    margin-top: 40px;
}
.gverdi {
    width: 377px;
    font-size: 42px;
    margin-bottom: 57px;
    margin-left: 100px;
    margin-top: 50px;
}
.input_description {
    width: 721px;
    height: 289px;
    padding: 25px;
}
.paragrafi {
    width: 377px;
    font-size: 42px;
    margin-bottom: 57px;
}
.input_subject {
    width: 360px;
    height: 60px;
}
.input-surname {
    margin-top: 15px;
    margin-bottom: 15px;
}
.button {
    margin-top: 15px;
    background-color: blue;
    color: white;
}
.paragrafi2 {
    max-width: 1090px;
    width: 100%;   
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.blokimeore {
    max-width: 1090px;
    width: 100%;   
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.saxeli {
    width: 60px;
    height: 60px;
    border-radius: 53px;
    margin: 0 auto;
    background-color: blue;
    position: relative;
    padding: 22px;
    margin-bottom: 20px;
}
.child {
    position: absolute;
}
.ragaca {
    color: rgb(65, 62, 62);
    margin-top: 15px;
}
.jpg {
    width: 320px;
    background-color: silver;
    margin-top: 40px;
    margin-bottom: 103px;
}
.centra {
    text-align: center;
}
.h3 {
     color: blue;
      margin-left: 145px;
      margin-top: 30px;
}
.fotoebisbloki {
    max-width: 1370px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.pklasi {
    max-width: 550px;
    font-size: 45px;
    margin-left: 150px;
    margin-top: 15px;
    margin-bottom: 60px;
}
.samkutxedi:last-child {
    background-color: burlywood;
}
.footera {
    background-color: black;
    position: relative;
} 
.divfutera {
    position: relative;
    display: flex;
     justify-content: space-between;
    padding: 50px 140px;
}
.futersatauri {
    font-size: 45px;
    color: white;
}
.futerisparagrafi {
     width: 257px;
     color: white;
     font-size: 22px;
}
.samkutxedi:first-child {
    background-color: white;
}
.samkutxedi  {
    width: 40px;
    height: 40px;
    border-radius: 55px;
    position: relative;
    padding: 15px;
}
.facbook {
    color: white;
    position: absolute;
}
.google {
    color: white;
    position: absolute;
}
.twitter {
    position: absolute;
    color: white;
}
.qartveli {
    display: flex;
    margin-top: 25px;
}
.s {
    background-color: blueviolet;
    margin-left: 11px;
    margin-right: 11px;
}
.link {
    color: blue;
    font-size: 25px;
    line-height: 30px;
}
.mnishvnelovanilink {
    color: white;
    font-size: 30px;
    margin-bottom: 40px;
    position: absolute;
}
.taimi {
    display: flex;
}
.taimi2 {
    margin-left: 50px;
    margin-top: 50px;
}
.contact-gmail {
    color: rgb(255, 255, 255);
    font-size: 30px;
}
.nomerimagaria {
    margin-top: 25px;
    margin-bottom: 25px;
}